/* Header Styles */
.header {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100px;
  height: 100px;
  background-position: bottom;
}
header {
  border: 2px solid red;
    display: flex;
    justify-content: space-between;
  align-items: center;
}
#title {
  color: navy;
  font-family: sans-serif;
}

.column-layout {
  max-width: 100 px;
  margin: 0 px auto 0 auto;
  line-height: 1.25;
  padding: 0 px 0px;
  display: flex;
}

.main-column {
  flex: 2;
}

.main-column2 {
  flex:1;
}

h1 { 
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

h2 {
  font-weight: 500;
  font-size: larger;
}

h3 {
  font-weight: 300;
  font-size: medium;
}

h4 { 
  font-style: italic;
  font-size: small;
  font-weight: 100;
}

main { 
  padding: 30px;
  margin-left: 50;
  font-family: sans-serif;
  color: white;
}

.navbar {
  color: navy;
  font-family: sans-serif;
  display: flex;
}

.navbar li {
  list-style: none;
  padding: 3px;
}

.container { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  border: 2px solid red;
  height: 150vh;
  background-color:darkslategray;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h5 { 
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  align align-items: center;
}


.footer {
  border: 2px solid red;
  max-height: 100px;
  height: 100px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100px;
  height: 100px;
  background-position: bottom;
}
#categoryGrid {
  margin: 0px 5%
  display: grid; 
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
}